.introduce{
    padding: 20px 250px 20px 250px;
    text-align: center;
    background-color: rgb(4 11 53);
}
.introduce_text{
    color: white;
    font-weight: 600;
}
.introduce_buttonExplore{
    color: white;
    font-size: 15px;
    width: 300px;
    height: 50px;
    background-image: linear-gradient(to right,#6c79f1,#f30b92);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}
