.Showcase{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 180px 50px 150px;
}
.Showcase_text_h1{
    font-size: 40px;
    font-weight: 500;
}
.Showcase_text_p1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.Showcase_Text{
    width: 50%;
}
.Showcase_Image{
    width: 50%;
}
.Showcase_button{
    margin-top: 50px;
    display: flex;
    background-color: rgb(25 119 242);
    color: white;
    width: 180px;
    height: 70px;
    border:0;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.Showcase_button:hover{
    background-color:rgb(14, 75, 155) ;
}
@media screen and (max-width:1000px){
    .Showcase{
        display: block;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }
    .Showcase_button{
        display: none;
    }
    .Showcase_Text{
        width: 100%;
    }
    .Showcase_Image{
        width: 100%;
    }
    .Showcase_text_h1{
        font-size: 30px;
        font-weight: 500;
    }
    .Showcase_text_p1{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }
}