.Magic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 180px 50px 150px;
}
.Magic_text_h1{
    font-size: 40px;
    font-weight: 500;
}
.Magic_text_p1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.Magic_Text{
    width: 50%;
}
.Magic_Image{
    width: 50%;
}
@media screen and (max-width:1000px) {
    .Magic{
        display: block;
        text-align: center;
        padding: 50px 50px 50px 50px;
    }
    .Magic_text_h1{
        font-size: 30px;
        font-weight: 500;
    }
    .Magic_text_p1{
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .Magic_Text{
        width: 100%;
    }
    .Magic_Image{
        width: 100%;
    }
}
